.card-showmore {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.card-showmore__title {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.card-showmore__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: $special-grey-6;
}

.card-showmore__title::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: $special-grey-6;
  transform: rotate(90deg);
}

.card-showmore__text {
  font-size: 12px;
  line-height: 16px;
  margin: 0;
}
