.card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  padding: 20px;
  width: 280px;
  border-bottom: 1px solid #ebebeb;
}

.card__title {
  font-family: $font-secondary;
  font-size: 16px;
  line-height: 20px;
  color: $basic-black-2;
  text-transform: uppercase;
}

.card__title-link {
  text-decoration: none;
  text-transform: uppercase;
  color: $basic-black-2;
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.card__button {
  grid-column: 1 / -1;
}

