.catalog {
  margin-left: -20px;
  margin-right: -20px;
}

.catalog__title {
  font-family: $font-secondary;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
  margin-top: 27px;
  margin-bottom: 41px;
}
