.footer-logo {
  display: block;
  width: 128px;
  height: 24px;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 35px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}
