.nav-list {
  font-family: $font-secondary;
  font-size: 20px;
  line-height: 20px;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-list__item {
  border-top: 1px solid $special-grey-7;
  margin-left: -20px;
  margin-right: -20px;
}

.nav-list__link {
  text-decoration: none;
  color: $basic-black;
  position: relative;
  display: block;
  padding: 22px 0 23px;
}
