.promo {
  font-family: $font-secondary;
  text-align: center;
  color: $basic-white;
  background-image: url("../../images/header-background/header-mobile@1x.jpg"), linear-gradient(180deg, $basic-green 50%, $basic-white 50%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 320px 302px;
  position: relative;
  height: 480px;
}

.promo__container {
  display: grid;
}

.promo__title {
  font-size: 36px;
  line-height: 36px;
  margin-top: 27px;
  margin-bottom: 0;
}

.promo__intro {
  line-height: 14px;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 29px;
}
