.stat-table {
  display: flex;
  justify-content: space-between;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 367px;
  }
}

.stat-table__desription {
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  color: $basic-text;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.stat-table__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: $basic-black;
  font-family: $font-secondary;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}
